/Assembly-UnityScript.unityproj
/Assembly-UnityScript-vs.unityproj
/Project-Zombot.sln
/Project-Zombot-csharp.sln
/Library
/Assembly-CSharp.csproj
/Assembly-CSharp.pidb
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-vs.csproj
/Project-Zombot.userprefs

/Assembly-CSharp-Editor.pidb
/Assembly-UnityScript.pidb
